{% extends 'base.html.twig' %}

{% block title %}Prescription{% endblock %}

{% block body %}
    <h1>Prescription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prescription.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ prescription.name }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ prescription.createdAt ? prescription.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Qrcode</th>
                <td>{{ prescription.qrcode }}</td>
            </tr>
            <tr>
                <th>Is_archived</th>
                <td>{{ prescription.isArchived ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prescription_index') }}">back to list</a>

    <a href="{{ path('prescription_edit', {'id': prescription.id}) }}">edit</a>

    {{ include('prescription/_delete_form.html.twig') }}
{% endblock %}
