{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
<div class="container">
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ booking.title }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row mt-4">
        <a class="btn btn-primary ml-2" href="{{ path('booking_calendar', {'id':1})}}">Calendar</a>
        <a class="btn btn-primary ml-2" href="{{ path('booking_edit', {'id': booking.id})}}">edit</a>
        <p class="ml-2">{{ include('booking/_delete_form.html.twig') }}</p>
    </div>
</div>
{% endblock %}
